.header {
    font-size: 20;
    font-weight: 600;
    text-align: center;
    margin: 40 20;
}

.previsao-title {
    text-align: center;
    font-size: 26;
    font-weight: 600;
}


.previsao-info {
    text-align: center;
    font-size: 23;
    font-weight: 600;
}


.card-proximo-dia {
    width: 150;
    height: 90;
    margin: 5 10;
    android-elevation:5;
    background-color: #fff;
}

.footer {
}

